@model AdminEntity.AdminModel.Admin

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "index";
}

<!-- page start-->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-body">
                <div class="col-md-6">
                    <h4><i class="fa fa-pencil"></i> &nbsp; Change Password</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-body my-form-body">
                    @using (Html.BeginForm("ChangePassword", "AdminProfile", new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            <label for="password" class="col-sm-3 control-label">New Password</label>

                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.Admin_id, new { htmlAttributes = new { @class = "form-control", type = "hidden" } })
                                <input type="text" value="@Model.Password" name="Password" hidden />

                                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "New Password" } })
                                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                                &nbsp;
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="confirm_pwd" class="col-sm-3 control-label">Confirm Password</label>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.ConformPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Confirm Password" } })
                                @Html.ValidationMessageFor(model => model.ConformPassword, "", new { @class = "text-danger" })
                                &nbsp;
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-11">
                                <input type="submit" name="submit" value="Change Password" class="btn btn-info pull-right">
                            </div>
                        </div>
                    }
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section> 