@model AdminEntity.AdminModel.Admin
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int counter = 0;
}

@if (@TempData["Message"] != null)
{
    <script type="text/javascript">
    $(document).ready(function () {

        if ('@TempData["Message"]' == "1") {
            toastr.success("State Status is Changed!!");
        } else if ('@TempData["Message"]' == "2") {
            toastr.success("Update Successfull!!");
        } else if ('@TempData["Message"]' == "3") {
            toastr.error("Update Faild!!");
        } else if ('@TempData["Message"]' == "4") {
            toastr.success("State Add Successfull!!");
        } else if('@TempData["Message"]' == "5"){
            toastr.error("State Add Faild!! or Already Added");
        }
        else
        {
            toastr.error("State is Not Disable!!");
        }
    });
    </script>
}



<section class="content">
    <div class="row">
        <div class="col-md-12">
        </div>
        <div class="col-md-12">
            <div class="box box-body">
                <div class="col-md-6">
                    <h4><i class="fa fa-list"></i> &nbsp; State List</h4>
                </div>
                <div class="col-md-6 text-right">
                    <a href="/JobAttributeState/AddState" class="btn btn-success"><i class="fa fa-plus"></i> Add New State</a>
                </div>
            </div>
        </div>
    </div>

    <div class="box">

        <!-- /.box-header -->
        <div class="box-body table-responsive">
            <table id="example1" class="table table-bordered table-striped" width="100%">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>State Name</th>
                        <th style="width: 150px;" class="text-right">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.lstState)
                    {
                        counter++;
                        <tr>
                            <td>@counter</td>
                            <td>@item.State_name</td>
                            <td style="float:right">
                                <a href="javascript:void(0)" data-usr_id="@item.State_id" id="state_edit" class="btn btn-primary">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

<script type="text/javascript">

    $(document).on('click', '#state_edit', function () {
        debugger;
        var Id = $(this).data('usr_id');
        window.location.href = "@Url.Action("UpdateState", "JobAttributeState", new {id = "Id"})".replace("Id", Id);
    });
</script>

<script>
    $(function () {

        $('#example1').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": true,
            "responsive": true,
        });
    });
</script>